.row
  .col.s10.offset-s1
    %h5.center-align
      How is Our Community Feeling?
    - @emotions.each do |e|
      %p.center-align
        =e.recognize
    %br
    .right
      reflect. and
      %b
        give yourself a break.
