.row
  .col.s12.m10.offset-m1
    %h5.center-align
      How is Our Community Feeling?
    .emotion-snippets
      - @emotions.each do |e|
        %p.center-align
          =e.recognize
    %br
.row
  .col.s12.m3.offset-m9.reminder
    reflect. &
    %b
      give yourself a break.
