- if current_user
  .row
    %br
    .col.s12.m4.offset-m5.menu
      - @categories.each do |c|
        %p
          =link_to new_emotion_path(category_id: c.id) do
            - if c.name == "positive"
              %i.menu-icon.fa.fa-heart(aria-hidden = "true")
              Positive
            - else
              %i.menu-icon.fa.fa-heart-o(aria-hidden = "true")
              Needs Love
      %p
        =link_to emotions_path() do
          %i.menu-icon.fa.fa-tint(aria-hidden = "true")
          My Emotions
